<div class="m-4">
  <h3>Oops! This URL has been shortened already!</h3>
  <div class="your-input">
    <p class="ml-3">YOUR LINK:
    <p class="fw-bold">{{inputUrl}}</p>
    </p>
  </div>
  <div class="data-save">
    <p class="ml-3">Here is your shorten URL:
    <p class="fw-bold">
      {{shortenUrl}}
    </p>
    </p>
  </div>
</div>