<div class="container d-flex justify-content-center">
  <div class="contain d-flex flex-column justify-content-center ">
    <div class="img align-self-center">
      <h3 class="fw-bold text-center">URL SHORTENER</h3>
      {{!-- 首圖 --}}
      <img class=" m-5 p-5" src="/images/ExportedContentImage_00.png" alt="link">
    </div>

    <h3>Susses! Please use this link :</h3>
    <div class="d-flex flex-column align-items-center">
      <p class="ms-4" id="text">
        {{!-- 放入輸出的網址 --}}
        <a href="{{originalUrl}}" target="_blank">{{hostUrl}}/{{shortUrl}}</a>
      </p>
      <button class="btn btn-primary ms-4" type="submit" id="btn-copy">Copy</button>
    </div>
  </div>
</div>